<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>MadLibs for you!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>The Story of Aladpeace</h1>
    <p>Aladpeace was just a houseless person with a tiny companion @Model.Animal for a best friend.</p>
    <p>They would borrow @Model.Food and @Model.Value just to get by.</p>
    <p>That is, until he met the smart, capable person named Royal @Model.PersonName and got himself thrown into the Cave of @Model.Noun!</p>
    <p>Thankfully, he escaped, but not before getting themselves a @Model.Adjective flying @Model.NounTwo to ride out on.</p>
    <p>And, of course a @Model.Container with a @Model.Color genie living inside - by their own choice.</p>
    <p>You have to ask their permission and then rub the @Model.Container @Model.Number times to ask the genie if they would like to come out.</p>
    <p>The genie grants Aladpeace @Model.Number2 wishes, and Aladpeace saved Royal @Model.PersonName, then thanked the @Model.Color genie for their help.</p>
  </body>
</html>